<mat-toolbar>
  <span>Tangent's Blog</span>
  <div class="spacer"></div>
  <a href="https://github.com/andy23512" target="_blank" aria-label="My GitHub page">
    <fa-icon [icon]="icons.faGithub"></fa-icon>
  </a>
  <a href="https://codepen.io/andy23512/" target="_blank" aria-label="My CodePen page">
    <fa-icon [icon]="icons.faCodepen"></fa-icon>
  </a>
  <a href="https://www.linkedin.com/in/tangent-chang-a5915586" target="_blank" aria-label="My LinkedIn page">
    <fa-icon [icon]="icons.faLinkedinIn"></fa-icon>
  </a>
  <a href="https://www.facebook.com/andy23512" target="_blank" aria-label="My Facebook page">
    <fa-icon [icon]="icons.faFacebook"></fa-icon>
  </a>
  <a href="mailto:andy23512@gmail.com" aria-label="My Email">
    <fa-icon [icon]="icons.faEnvelope"></fa-icon>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
